body {
    background-image: url("../images/plane.gif");
    
}

#logo {
 width: 282px;
height: 115px;
/* background-image: url("logo.png"); */
background-size:cover;
background-repeat: no-repeat;
position: absolute;
top: 0;
left:0;
}

body {

    background-size: cover;

    
 }

 
 .jumbotron {
    background-image: url("../images/plane.gif");
    width: 0px;
    height:0px;
    
 }
 
 label {
    color: black;
 }
 h3 {
    font-family: 'Lobster', monospace;
    padding: 10px;
    background-color: #3498db;
    opacity: 0.5;
 }
 #page-content-wrapper {
    widows: 100%;
    position: absolute;
    padding: 15px;
 }   
 

 #menu-toggle{
border :2px solid white;
color:  #2e6ece;
 }

#flightResults {
    display: flex;
	justify-content: left;
    flex-flow: wrap;
}
#airline_entries {
    margin: 10px;
    padding: 5px;
    width: 275px;
    height: 184px;
    background: white;
    background-color: white;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

#logo {
    vertical-align: middle;
    border-style: none;
    position: absolute;
    top: 20px;
    left: 60px;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: white;}
    100% {background-color: green;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: white;}
    100% {background-color: green;}
}

 #hotelImage{
    margin: 10px 20px;
    width: 420px;
    height: 400px;
}

#listing {
    margin: 10px;
    width: 400px;
    height: 420px;
    overflow: auto;
    left: 442px;
    top: 0px;
    cursor: pointer;
    overflow-x: hidden;
  }
 
/* NEWLY ADDED */

/* Loading GIF */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Highlighting Airline Entries */
#airline_entries:hover {
    background-color: rgba(70, 103, 165, 0.692);
}



