#p2 {
    color: white;
    position: absolute;
    left: 200px;
    bottom: 8px;
}

#p1 {
    color: white;
    position: absolute;
    left: 40px;
    bottom: 8px;
}

.navbar.transparent.navbar-inverse .navbar-inner {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

#dropdown-menu {
    background-color:  #002763;
    color: white;
    background:transparent;
}

.container edit{
    position: absolute;
    left: 400px;
}

.card {
    width: 400px;

}

.card-body {
    /* width: 400px; */
    
}


#logo {
 width: 282px;
height: 115px;
background-image: url("../images/logo.png");
background-size:cover;
background-repeat: no-repeat;
position: relative;
top: 0px;
}

body {

    background-size: cover;

    
 }

 .navbar1 {
     color: white;
     position: absolute;
     top: 0;
     right: 100px;
     font-size: 20px;
     /* opacity: 0; */
 }

 .navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 1400px;
    height: 70px;
    

 }

 .jumbotron {
    background-image: url("../images/plane.gif");
    background-position: 0% 10%;
    background-size: cover;
 }
 #sidebar-wrapper {
    z-index: 1;
    position: absolute;
    width:0;
    height:100%;
    overflow-y: hidden;
    background: #003d99;
    /* border: 2px solid red; */
    opacity: 0.9;
 }
 label {
    color: white;
 }
 #page-content-wrapper {
    widows: 100%;
    position: absolute;
    padding: 15px;
    /* border: 5px solid green; */
 }
 
 #wrapper.menuDisplayed #sidebar-wrapper{
    width:350px;
 }
 
 #wrapper.menuDisplayed #page-content-wrapper{
    padding-left: 250px;
 }
 
 .sidebar-nav {
    padding: 0;
    list-style: none;
 }
 .edit {
    height: 100%;
 }
 .sidebar-nav li{
    text-indent:20px;
    line-height:40px;
 }
 .sidebar-nav li .form-group{
    display: block;
    text-decoration: none;
    color: #ddd;
    /* width: 250px; */
 }
 .sidebar-nav li .form-group:hover{
    background: #2e6ece;
 }
 #menu-toggle{
border :2px solid white;
color:  #2e6ece;
 }





 
/* NEWLY ADDED */

/* Loading GIF */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Highlighting Airline Entries */
#airline_entries:hover {
    background-color: rgba(70, 103, 165, 0.692);
}

/* Hotel Images */
#hotelImage {
    max-width: 450px;
    max-height: 450px;
}

#hotelImageDiv {
    max-width: 450px;
    max-height: 450px;
}